.appContainer {
	height: 100%;
}

.appHeader {
	width: 100%;
	padding: 8px 16px;
	display: table;
	background-color: #4ab1d0;

	&Title {
		font-size: 22px;
		display: table-cell;
		color: #fff;
	}
}


.footer {
	margin-top: 20px;

	a {
		padding: 5px 10px 5px 0;
	}
}
